:root {
  --basic-black: #000000;
  --basic-extra-dark: #333333;
  --basic-dark-brown: #503e33;
  --basic-brown: #604e43;
  --basic-dark: #766357;
  --basic-grey: #666666;
  --basic-dark-blue: #5496bd;
  --basic-blue: #669ec0;
  --basic-neutral: #81b3d2;
  --basic-neutral-light: #eBeBeB;;
  --basic-extra-light: #eeeeee;
  --basic-light: #e5e5e5;
  --basic-white: #ffffff;

  --special: #f2f2f2;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-extra-dark);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

@font-face {
  font-family: "ptsans";
  src: url("ptsans.woff2") format("woff2"),
       url("ptsans.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
 /* height: auto;*/
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.booking {
  line-height: 24px; 
  text-align: center;
}

 /* buttons */

.button-form {
  padding: 0;
  border: none;
  font-style: inherit;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.button {
  background-color: var(--basic-neutral);
  color: var(--basic-white);
  font-size: 21px;
  font-style: inherit;
  font-weight: bold;
  text-transform: inherit;
  border: none;
}

.button:hover {
  background-color: var(--basic-blue);
}

.button:focus {
  background-color: var(--basic-dark-blue);
  outline: none;
}

.button-hotel {
  font-size: 14px;
  font-style: normal;
}

.button-booking {
  background-color: var(--basic-dark);
  font-size: 14px;
}
.button-booking:hover {
  background-color: var(--basic-brown);
}

.button:focus:not(.button-hotel):not(.button-search) {
  background-color: var(--basic-dark-brown) ;
}

/* Modal */

.modal {
  font-weight: bold;
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  line-height: 26px;
}

.modal .button-booking,
.button-search {
   font-size: 21px;
   font-weight: bold;
 }

.search-form input[type="text"],
.search-form input[type="number"] {
  font: inherit;
  font-weight: bold;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--special);
  border: none;
}

.search-form input[type="text"]:hover {
  background-color: var(--basic-neutral-light);
}

.search-form input[type="text"]:focus {
  background-color: var(--basic-white);
  outline: none;
}

.search-form input[type="number"]:focus {
  outline: none;
}

.checkin-date,
.checkout-date {
  background-image: url("../img/calendar.svg");
  background-position: right;
  background-repeat: no-repeat;
}

.adults,
.childs {
  background-image: url("../img/rectangle.svg"),
                    url("../img/union.svg");
  background-position: right 20px;
  background-repeat: no-repeat;
}

/* .modal {
  display: none;
} */

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  justify-content: center;
}

.container {
  width: 1050px;
}

.main-container {
  width: 1200px;
}

/* header */

.header-main {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  min-height: 56px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-image: url("../img/bg.jpg");               
  background-position: top center;
  background-repeat: no-repeat; 
  position: relative;
  width: 1200px;
  height: 565px;
}

.mask {
  position: absolute;
  top: 452px;
}

.header-navigation {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.header-image {
  position: relative;
  width: 456px;
  height: 350px;
  order: 2;
}

ul .menu-left {
  padding-left: 0;
}

.menu-left {
  display: flex;
  justify-content: space-between;
  width: 325px;
  list-style: none;
  padding-right: 130px;
}

.menu-right {
  display: flex;
  justify-content: space-between;
  width: 325px;
  list-style: none;
  padding-left: 130px;
}

.header-navigation-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 70px;
  background-color: var(--basic-white);
}

.logo {
  position: absolute;
} 
  
.site-navigation {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 56px;
  background-color: var(--basic-white);
} 

.site-navigation a:not(.header-image) {
  color: var(--basic-black);
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-navigation a:hover {
  color: var(--basic-neutral);
}

.site-navigation a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation a:active {
  color: var(--basic-dark);
}

.booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 290px;
}

.sedona-info {
  text-align: center;
}

/* footer */

.footer {
  position: relative; 
  background-color: var(--basic-white);
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.social {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

.background {
  width: 46px;
  height: 48px;
  fill: var(--basic-neutral);
}

.footer-phone-number {
  font-size: 21px;  
  line-height: 26px;
  font-weight: bold;
}

.footer-copyright {
  display: flex;
  width: 195px;  
  justify-content: space-between;
  line-height: 26px;
}

.developer {
  align-self: center;  
}

/* main */

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 26px;
}

.intro h3 {
  font-size: 21px;
}

.features-list h3 {
  font-size: 21px;  
}

.feature-item {
  list-style: none;
  text-align: center;
}

.features-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;  
}

.features-list-first {
  display: grid;
  min-height: 330px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  align-items: center;
}

.list-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 256px;
  color: var(--basic-white);
  background-color: var(--basic-neutral);
}

.features-list-second {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  column-gap: 170px;
  
  min-height: 256px;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--basic-extra-light);
}

.features-list-second li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features-list-second p {
  text-align: center;
}

.features-list-second h3 {
  font-size: 21px;
  line-height: 21px;
}

.image {
  margin: 0;
  padding: 0;
}

.mask {
  background-position: center;
}

.map {
  position: relative;
  top: 130px;
}

/* hotels.html */

.header {
  font-weight: bold;
  line-height: 26px;
  height: 56px;
}

.form {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
  background-image: url("../img/bg.jpg");
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hotels-list  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 452px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-list .hotel-intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} 

.hotel-info-wrapper {
  display: flex;
  flex-direction: column;
  width: 256px;
  justify-content: flex-start;
}

/* output */

.output {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 87px;
}

.found {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.sort-by {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  border: none;
}

.sort-by .by {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.by li:not(.price) {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--basic-neutral);
  opacity: 0.3;
}

.by .price {
  color: var(--basic-neutral);
}

.up-down {
  background-color: transparent;
  outline: none;
  border: none;
}

.group {
  border: none;
}

.group legend {
  font-weight: bold;
}

.facilities,
.accomodation,
.sort {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotels h2:hover {
  color: var(--basic-neutral);
}

.hotels h2:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.bg-hotels {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  /*filter: blur(5px);*/
}

/* range-slider */

.filter {
  margin: 0;
  padding: 0;
  border: none;  
}

.range-filter {
  width: 302px;
  margin-top: 20px;
}

.filter legend {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
  text-transform: uppercase;
 }

 .range-controls {
  position: relative; 
  height: 80px;
  padding-top: 39px;
  border-radius: 5px;
  margin-bottom: 23px;
 }

 .range-controls .scale {
   height: 2px;
   background-color: var(--basic-white);
   mix-blend-mode: normal;
   opacity: 0.3;
 }

 .range-controls .bar {
   width: 248px;
   height: 2px;
   background: var(--basic-white);
 }

 .range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border-radius: 50%;
  box-shadow: #ababab;
  border: 8px solid var(--basic-white);
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 248px;
}

.price-control label {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--basic-white); 
}

.price-control input {
  font-size: inherit;
  width: 159px;
  height: 36px;
  text-align: center;
  color: var(--basic-white);
  background-color: transparent;
  border: none;
}

.price-control input[type="number"]:focus {
  outline: none;  
}

.price-control {
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--basic-white);
}

.button-show {
  font-family: inherit;
  text-transform: inherit;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  cursor: pointer;
  padding: 7px 36px 8px 35px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

