:root {
  --basic-black: #000000;
  --basic-extra-dark: #333333;
  --basic-dark-brown: #503e33;
  --basic-brown: #604e43;
  --basic-dark: #766357;
  --basic-grey: #666666;
  --basic-slightly-grey: #a9a9a9;
  --basic-light-grey: #bdbbbc; 
  --basic-dark-blue: #5496bd;
  --basic-blue: #669ec0;
  --basic-neutral: #81b3d2;
  --basic-neutral-light: #eBeBeB;;
  --basic-extra-light: #eeeeee;
  --basic-supreme-light: #cacaca;
  --basic-light: #e5e5e5;
  --basic-white: #ffffff;

  --special: #f2f2f2;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-extra-dark);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

@font-face {
  font-family: "ptsans";
  src: url("ptsans.woff2") format("woff2"),
       url("ptsans.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
 /* height: auto;*/
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.booking {
  line-height: 24px; 
  text-align: center;
}

 /* buttons */

.button-form {
  padding: 0;
  border: none;
  font-style: inherit;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.button-form:hover {
  cursor: pointer;
}

.button {
  background-color: var(--basic-neutral);
  color: var(--basic-white);
  font-size: 14px;
  font-style: inherit;
  font-weight: bold;
  text-transform: inherit;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: var(--basic-blue);
}

.button:focus {
  background-color: var(--basic-dark-blue);
  outline: none;
}

.button-hotel {
  display: block;
  font-size: 14px;
  font-style: normal;
  padding: 3px 17px 3px 16px;
}

.booking .button-booking {
  background-color: var(--basic-dark);
  font-size: 21px;
  width: 568px;
  height: 86px;
  padding: 30px 125px 30px 124px;
  justify-content: flex-end;
  cursor: pointer;
}

.buttons .button-booking {
  display: block;
  font-size: 14px;
  font-style: normal;
  padding: 7px 17px 7px 16px;
  background-color: var(--basic-dark);
}

.button-booking:hover {
  background-color: var(--basic-brown);
}

.button:focus:not(.button-hotel):not(.button-search):not(.button-social) {
  background-color: var(--basic-dark-brown) ;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button-social:active {
  background-color: var(--basic-dark-blue);
}

.button-show:focus {
  outline: none;
}

/* Modal */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.modal {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: bounce 0.6s;
  
  bottom: auto;
  font-weight: bold;
  color: var(--basic-black);
  line-height: 26px;
  width: 568px;
  height: 395px;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.modal-show {
  display: block;
}

.modal-close {
  display: none;
}

/*.modal-error {
  animation: shake 0.6s;
} */

.modal .button-search {
  font-size: 21px;
  font-weight: bold;
  cursor: pointer;
 }

.modal-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 55px;
}

.modal .button-search {
  display: block;
  padding: 16px 181px 16px 182px;
  margin-top: 30px;
  font-size: 21px;
}

.modal .date {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.amount {
  display: flex;
  justify-content: space-between;
  width: 458px;
}

.search-form input {
  padding-left: 5px;
  padding-top: 5px;
}

.search-form input[type="text"] {
  width: 346px;
  height: 38px;  
}

.search-form input[type="number"] {
  width: 114px;
  height: 38px;
}

.search-form input[type="text"],
.search-form input[type="number"] {
  font: inherit;
  font-weight: bold;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--special);
  border: none;
}

.search-form input[type="text"]:hover,
.search-form input[type="text"]:hover {
  background-color: var(--basic-neutral-light);
}

.search-form input[type="text"]:focus,
.search-form input[type="number"]:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--basic-light);
}

.search-form input[type="number"] {
  text-align: center;
}

.adults-amount p {
  display: flex;
  width: 225px;
  justify-content: space-between;
  align-items: baseline;
}

.childs-amount p {
  display: flex;
  width: 180px;
  justify-content: space-between;
  align-items: baseline;
}

.calendar-icon-1 {
  position: absolute;
  right: 65px;
  top: 80px;
}

.calendar-icon-2 {
  position: absolute;
  right: 65px;
  top: 150px;
}

.minus {
  position: absolute;
  left: 170px;
  top: 235px;
}

.plus {
  position: absolute;
  left: 253px;
  top: 231px;
}

.minus-childs {
  position: absolute;
  top: 235px;
  right: 156px;
}

.plus-childs {
  position: absolute;
  top: 231px;
  right: 70px;
}

.calendar-icon-1,
.calendar-icon-2,
.minus, .plus,
.minus-childs,
.plus-childs {
  fill: var(--basic-slightly-grey);
  cursor: pointer;
}

.calendar-icon-1:hover,
.calendar-icon-2:hover,
.minus:hover,
.plus:hover,
.minus-childs:hover,
.plus-childs:hover {
  fill: var(--basic-black);
  cursor: pointer;
}

.calendar-icon-1:active,
.calendar-icon-2:active,
.minus:active,
.plus:active,
.minus-childs:active,
.plus-childs:active {
  fill: var(--basic-neutral);
  cursor: pointer;
}


/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  justify-content: center;
}

.container {
  width: 1050px;
}

.main-container {
  width: 1200px;
}

/* header */

.header-main {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  min-height: 56px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-image: url("../img/bg.jpg");               
  background-position: top center;
  background-repeat: no-repeat; 
  position: relative;
  width: 1200px;
  height: 565px;
}

.mask {
  position: absolute;
  top: 453px;
}

.header-navigation {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.header-image {
  position: relative;
  align-content: center;
  margin-top: 40px;
  width: 456px;
  height: 350px;
} 

ul .menu-left {
  padding-left: 0;
}

.menu-left {
  display: flex;
  justify-content: space-between;
  width: 325px;
  list-style: none;
  padding-right: 130px;
}

.menu-right {
  display: flex;
  justify-content: space-between;
  width: 325px;
  list-style: none;
  padding-left: 130px;
}

.header-navigation-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 70px;
  background-color: var(--basic-white);
}

.logo {
  position: absolute;
} 
  
.site-navigation {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  height: 56px;
  background-color: var(--basic-white);
} 

.site-navigation a:not(.header-image) {
  color: var(--basic-black);
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-navigation a:hover {
  color: var(--basic-neutral);
}

.site-navigation a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation a:active {
  color: var(--basic-dark);
}

.site-navigation a:focus {
  color: var(--basic-dark);
}

.booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 290px;
}

.sedona-info {
  text-align: center;
}

/* footer */

.footer {
  position: relative; 
  background-color: var(--basic-white);
}

.footer .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  padding: 0;
  margin: 0 auto;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 36px;
  margin: 0;
  width: 251px;
}

.footer-contacts p {
  margin: 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.footer-contacts h2 {
  margin: 0;
}

.social {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  fill: var(--basic-neutral);
}

.footer-copyright {
  display: flex;
  width: 195px;  
  justify-content: space-between;
}

.developer {
  align-self: center;  
}

.developer-logo:hover {
  fill: var(--basic-neutral);
}

.developer-logo:active {
  fill: var(--basic-light-grey);
}


/* main */

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 216px;
  text-align: center;
  line-height: 26px;
}

.intro h3 {
  font-size: 21px;
}

.features-list h3 {
  font-size: 21px;  
}

.feature-item {
  list-style: none;
  text-align: center;
}

.order-number-w,
.order-number-b {
  display: flex;
  align-items: center;
}

.order-number-w::before,
.order-number-w::after {
  content: "";
  width: 8px;
  height: 1px;
  margin: 0 3px;
  background: var(--basic-white);
}

.order-number-b::before,
.order-number-b::after {
  content: "";
  width: 8px;
  height: 1px;
  margin: 0 3px;
  background: var(--basic-black);
}


.features-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;  
}

.features-list-first {
  display: grid;
  min-height: 330px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  align-items: center;
  margin: 0;
}

.background-list {
  background-color: var(--basic-extra-light);
}

.list-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  max-height: 256px;
  color: var(--basic-white);
  background-color: var(--basic-neutral);
}

.features-list-second {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 256px;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--basic-extra-light);
}

.features-list-second li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.features-list-second p {
  text-align: center;
}

.features-list-second h3 {
  font-size: 21px;
  line-height: 21px;
}

.image {
  margin: 0;
  padding: 0;
}

.map iframe {
  position: relative;
  z-index: 1;
  border: none;
}

.map-image {
  position: absolute;
  z-index: 1;
  margin: 0;
}

/* hotels.html */

.header {
  font-weight: bold;
  line-height: 26px;
  height: 56px;
}

.logo-sedona {
  display: flex;
  justify-content: center;
}

.form-container::before {
  content:"";
  position: absolute; 
  left: 0;
  right: 0;
  top: 56px; 
  bottom: 0;
  z-index: -1;
  background-image: url("../img/bg.jpg");
  background-position: 50% 100%;
  background-size: 1200px 270px;
  /*border-bottom: 2px solid var(--basic-grey);*/
  background-repeat: no-repeat;
  filter: blur(10px);
  height: 270px;
}

.form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 270px;
  height: 270px;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}

.hotels-list  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 452px;
  margin: 0;
  padding: 30px 0;
  list-style: none;
}

.hotel-wrap {
  display: flex;
  justify-content: flex-start;
}

.hotels-list .hotel-intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} 

.hotel-info-wrapper {
  display: flex;
  flex-direction: column;
  width: 256px;
  height: 90px;
  justify-content: space-between;
}

.hotel-info-wrapper h2 {
  margin: 0;
}

.hotel-info-wrapper h2:hover {
  cursor: pointer;
}

.hotel-type {
  display: flex;
  justify-content: space-between;
  width: 180px;
}

.hotel-image {
  padding-right: 30px;
}

/* output */

.output {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 87px;
}

.result {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 517px;
}

.found {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.sort-by {
  display: flex;
  justify-content: space-between;
  width: 350px;
  font-size: 12px;
  line-height: 18px;
  padding: 0;
  color: var(--basic-black);
}

.sort-by .by {
  display: flex;
  justify-content: space-between;
  width: 240px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.by li:not(.by-price) {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--basic-neutral);
  opacity: 0.3;
}

.by .by-price {
  color: var(--basic-neutral);
}

.up-down {
  background-color: transparent;
  fill: var(--basic-supreme-light);
  outline: none;
  border: none;
  cursor: pointer;
}

.up-down:hover {
  fill: var(--basic-black);
}

.up-down:active {
  fill: var(--basic-neutral);
}


.group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  height: 160px;
  padding: 0;
  margin: 0;
  border: none;
}

.group h2 {
  font-size: 16px;
  margin: 0;
}

.group input[type="checkbox"] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2713";
  display: inline-block;
  border: 2px solid var(--basic-white);
  border-radius: 20%;
  font-size: 20px;    
  line-height: 22px;
  margin: -5px 22px 0 0;
  height: 20px;
  width: 20px;
  text-align: center;
  vertical-align: middle;
  transition: color ease .3s;
  cursor: pointer;
}

input[type=checkbox]:checked + label:before {
  color: var(--basic-white);
}

.facilities,
.accomodation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
}

.facilities,
.accomodation,
.sort {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotels h2:hover {
  color: var(--basic-neutral);
}

.hotels h2:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.bg-hotels {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rating-range {
  display: flex;
  justify-content: flex-end;
}

.rating-bg {
  background-color: var(--special);
  padding: 3px 15px 3px 12px;
}

.by-price:hover,
.by-type:hover,
.by-rate:hover {
  cursor: pointer;
}

.by-type:hover,
.by-rate:hover  {
  color: var(--basic-dark-blue);
}

.by-type:active,
.by-rate:active {
  color: var(--basic-black);
}

/* range-slider */

.filter {
  display: flex;
  flex-direction: column;
  height: 160px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;  
}

.range-filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 127px;
}

.filter legend {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
  text-transform: uppercase;
  padding-bottom: 8px;
 }

 .range-controls {
  position: relative; 
  height: 55px;
  padding-top: 20px;
  border-radius: 5px;
 }
 
 .range-controls .scale {
   height: 2px;
   background-color: var(--basic-white);
   width: 317px;
 }

 .range-controls .bar {
   width: 248px;
   height: 2px;
   background: var(--basic-white);
 }

 .range-controls .toggle {
  position: absolute;
  top: 12px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border-radius: 50%;
  box-shadow: #ababab;
  border: 8px solid var(--basic-white);
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 248px;
}

.price-control label {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--basic-white); 
}

.price-control input {
  font-size: inherit;
  width: 159px;
  height: 36px;
  text-align: center;
  color: var(--basic-white);
  background-color: transparent;
  border: none;
}

.price-control input[type="number"]:focus {
  outline: none;  
}

.price-control {
  display: flex;
  justify-content: space-around;
  width: 317px;
  height: 36px;
  border: 2px solid var(--basic-white);
}

.price-control input {
  width: 35px;
}

.price-control label {
  text-align: center;
}

.min-price {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.max-price {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.button-show {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  text-transform: inherit;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  cursor: pointer;
  padding: 7px 36px 8px 35px;
}

.button-show:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  text-transform: inherit;
  color: var(--basic-black);
  font-size: 14px;
  line-height: 21px;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-white);
  cursor: pointer;
  padding: 7px 36px 8px 35px;
}

.button-show-result {
  display: flex;
  width: 317px;
  justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

